services:
  map-server:
    build:
      context: ./map
    ports:
      - "5438:5432"
    environment:
      OSM_PBF_PATH: "/mnt/data/ohare-filtered.osm.pbf"
      OSM_DB_NAME: "ohare"
    volumes:
      - ./map/osm/ohare-filtered.osm.pbf:/mnt/data/ohare-filtered.osm.pbf:ro
      - barefoot-map:/mnt/map
      - barefoot-db:/var/lib/postgresql/9.3/main
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5


  matcher-server:
    image: barefoot-match:latest
    ports:
      - "1234:1234"
    depends_on:
      - map-server
      
volumes:
  barefoot-map:
  barefoot-db:
